<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <aop:aspectj-autoproxy/>
    <bean id="user" class="com.xc.Aop1.beans.User"/>
    <bean id="logger" class="com.xc.Aop1.beans.Logger"/>

    <aop:config>
        <aop:aspect id="aspectUserLogger" ref="logger">
            <!-- @After -->
            <aop:pointcut id="pointCutAfter"
                          expression="execution(* com.xc.Aop1.beans.User.login(..))"/>
            <aop:after method="log" pointcut-ref="pointCutAfter"/>
        </aop:aspect>
    </aop:config>
</beans>